.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.Header {
    background-color: lightgray;
}
.Header__nav {
    padding: 8px;
}
.Header__nav-list {
    display: flex;
    list-style: none;
}
.Header__nav-list-item {
    margin-left: 16px;
}
.Header__nav-list-item-link {
    color: blue;
    text-decoration: none;
}
.Header__nav-list-item-link:hover {
    text-decoration: underline;
}
.active.Header__nav-list-item-link {
    color: limegreen;
}
