* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.ta-center {
  text-align: center;
}

.btn-light:disabled {
  cursor: not-allowed;
}

.text-capitalize {
  text-transform: capitalize;
}

ul {
  padding-left: 24px;
}

button:disabled {
  cursor: not-allowed;
}

.navbar-collapse {
  display: block !important;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s;
}

.navbar-collapse--open {
  max-height: 160px;
}
